<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ratobing.tour">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travel">

        <activity android:name=".ui.fragment.home.categories.beaches.DetailBeachesActivity" />
        <activity android:name=".ui.fragment.home.categories.montains.DetailMountainsActivity" />
        <activity android:name=".ui.fragment.home.categories.museum.DetailMuseumActivity" />
        <activity android:name=".ui.fragment.home.categories.temple.DetailTempleActivity" />
        <activity android:name=".ui.fragment.home.toptrip.DetailTopTripActivity" />
        <activity android:name=".ui.activity.MainActivity"/>
            <activity android:name="com.ratobing.tour.ui.activity.splashscreen.SplashScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>